absl-py
aiohttp
aiosignal
antlr4-python3-runtime
appnope
argon2-cffi
argon2-cffi-bindings
astroid
asttokens
async-timeout
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
black
bleach
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
colorama
coverage
cryptography
cycler
debugpy
decorator
defusedxml
dill
entrypoints
executing
fastjsonschema
flake8
flit_core
fonttools
frozenlist
google-auth
google-auth-oauthlib
grpcio
hydra-core
idna
importlib-metadata
importlib-resources
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
multidict
munkres
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
omegaconf
packaging
pandas
pandocfilters
parso
pathspec
patsy
pexpect
pickleshare
Pillow
pip
platformdirs
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pylint
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
pytest-cov
python-dateutil
pytz
pyu2f
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
soupsieve
stack-data
statsmodels
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
testpath
threadpoolctl
toml
tomli
torch
torch-tb-profiler
tornado
tqdm
traitlets
typing_extensions
unicodedata2
urllib3
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wrapt
yarl
zipp
